<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cocktailzone{% endblock %}</title>
        <!----Favicon ---->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" href="{{ asset('build/images/favicon/ms-icon-310x310.png') }}" type="image/png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/images/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon/favicon-16x16.png') }}">
        <!----Bootstrap CDN ---->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!----Google fonts ---->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <!----Custom Stylesheet     ---->
        <link rel="stylesheet" href="{{ asset('build/css.css') }}">

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>

    {% block nav %}
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}"><img src="http://i64.tinypic.com/ngrjvk.png" border="0" width="200" alt="Logo Cocktailzone">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger text-right" href="{{ path('homepage') }}">Chercher un cocktail</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
        <div id="container-initial" class="container">
            <div id="body-initial">
    {% block body %}
    {% endblock %}
            </div>
        </div>

{% block footer %}
        <footer id="footer-initial">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-inline ">
                            <li class="list-inline-item">
                                <a href="mailto:valeriane.aron@gmail.com?subject=Cocktailzone">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><p>Made with <i class="fa fa-heartbeat" aria-hidden="true"></i> by Valériane Aron</p></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline ">
                            <li class="list-inline-item"><p>&copy; Cocktailzone 2018</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>


{% endblock %}
<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<!-- Custom scripts for this template -->
<script src="{{ asset('assets/js/main.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
