{% extends 'base.html.twig' %}

{% block body %}

    <h1>Résultat de votre recherche {{ search }}</h1>


    <div class="row">
        {% for drink in drinks %}
            <div class="col-md-4 col-sm-6 portfolio-item thumb-post">
                <a>
                    <img class="img-fluid" src="{{ 'http://' ~ drink.strDrinkThumb }}"
                         alt="{{ drink.strDrink }}">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ drink.strDrink }}</h4>
                </div>
                <div>
                    <a class="btn btn-primary" href="{{ path ('recipe',{'id': drink.idDrink }) }}">Recette</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
